
/* Estilo Barra de navegaci贸n */

.barra-Navegaci贸n{

background-color: silver;

}

.nav-modificaci贸n{

    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: black;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;

}

.nav-modificaci贸n:hover{
    background-color: violet;
}


.imagen{

    width: 5cm;
    height: 5cm;

}


/*Slider*/

.container-slider*{
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    background: coral;
}