
/* Estilo Barra de navegación */

*.barra-Navegación{

    display: inline;
}
.barra-Navegación{

background-color: silver;

}

div.Menú a:hover { background: white; }

.nav-modificación{

    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: black;

}

.imagen{

    width: 5cm;
    height: 5cm;

}


/*Slider*/

.container-slider*{
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    background: coral;
}