*{
    background-color: springgreen;
}


div.Menú{

background-color: black;

}

div.Menú a:hover { background: silver; }

.nav-modificación{

    font-family: 'Bebas Neue', cursive;
    font-size: 50%;
    color: snow;

}

div.Logo{


}