 :root{
    --amarillo: #fbff00;
    --azul: #0b0ba5ee; 

}
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
}

                                          /* ESTILO DE LA BARRA DE NAVEGACIÓN. */



.Navbar{

margin-top: 0%;
margin-bottom: 2%;
background-color: var(--azul);
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
align-items: center;

}

h3.Logo{

    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--amarillo);
    font-size: 200%;
    margin-left: 1%;
    margin-top: 1%;
    }

    

.search{

border-radius: 5px;
background-color: transparent;
color: rgb(2, 1, 1);
 
}

.search::placeholder{color: rgba(255, 255, 255, 0.835);}
.search:focus{background-color: whitesmoke;}
