
/* Estilo Barra de navegación */

*.barra-Navegación{

    display: inline;
}
.barra-Navegación{

background-color: black;

}

div.Menú a:hover { background: silver; }

.nav-modificación{

    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: snow;

}

.imagen{

    width: 5cm;
    height: 5cm;

}

.título{
    color: white;

}

/*Slider*/

.container-slider*{
    box-sizing: border-box;
}